<%= simple_form_for(@refill) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <!-- //attempted to add name// -->
    <%= f.input :address, placeholder: "add address here" %>
    <%= f.input :tech %>
    <%= f.input :cost, placeholder: "ex 0.59" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
