<%= simple_form_for(@refill) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <!-- //attempted to add name// -->
    <%= f.input :address, placeholder: "In most cases, this will be some type of grocery store. The name isn't necessary." %>
    <%= f.input :tech, placeholder: "Optional: sometimes this info is written on the station, otherwise management should have specs." %>
    <%= f.input :cost, placeholder: "How much is a gallon refill? 59 cents should be entered .59 for example." %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
