<%= simple_form_for(@refill) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: "In most cases this will be the name of a grocery store." %>
    <%= f.input :address, placeholder: "Please enter full address including zip code." %>
    <%= f.input :tech, placeholder: "Optional: Sometimes this info is written on the station, otherwise management should have specs." %>
    <%= f.input :cost, placeholder: "How much does a gallon refill cost? 59 cents should be entered .59 for example." %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
